html{
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
}
.btn-primary, .hire{
    background-color: #DC3545 !important;
   border: 0 !important ;

}
button a{
    text-decoration: none;
    color: white;
}
a{
   
    cursor:  pointer !important;
}
.progress-bar{
    background-color: #DC3545 !important;
    color: white;
}
h1 , .card .fa-brands, .card .fa-solid  {
    color: #DC3545 !important;
}

.social-link li{
    
    align-items: center;
    display: inline;
    
   
}
.social-link li .fa-brands{
    color: black;
    padding: 5px;
}
/* contact wraper */

.contact-info__wrapper {
    overflow: hidden;
    border-radius: .625rem .625rem 0 0
}
a{
    text-decoration: none !important ;

}

@media (min-width: 1024px) {
    .contact-info__wrapper {
        border-radius: 0 .625rem .625rem 0;
        padding: 5rem !important
    }
}
.contact-info__list span.position-absolute {
    left: 0
}
.z-index-101 {
    z-index: 101;
}
.list-style--none {
    list-style: none;
}
.contact__wrapper {
    background-color: #fff;
    border-radius: 0 0 .625rem .625rem
}

@media (min-width: 1024px) {
    .contact__wrapper {
        border-radius: .625rem 0 .625rem .625rem
    }
}
@media (min-width: 1024px) {
    .contact-form__wrapper {
        padding: 5rem !important
    }
}
@media screen and (max-width:600px) {
    .footer{
        font-size: 10px !important;
      
    }
    
}
.social-link li i:hover{
    color:red;
    transform: scale(1.2);
}